/* regole generali */
body{
  background-color: #b91450;
}

h1{
  color: white;
  text-align: center;
}

#contenitore-global{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#contenitore-dati h1{
  color: white;
  text-align: center;
}

/* regole form */
#contenitore-form{
  background-color: white;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#dati-form{
  padding: 50px;
  display: flex;
}

.col-dati{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.col-dati label{
  color:#b91450;
}

.col-dati input{
  margin: 20px;
  padding: 10px;
}

#inserire-nome{
  font-weight: bold;
}

#inserire-fasciaeta{
  margin: 20px;
  padding: 10px;
}

#button-form{
  text-align: center;
}

#button-form button{
  margin: 20px;
  padding: 10px;
  width: 100px;
  border-radius: 20px;
}
/* fine regole form */

/* inizio biglietto */

#contenitore-none{
  display: none;
}

#contenitore-biglietto{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#biglietto{
  background-color: white;
  width: 700px;
  margin:auto;
  border-radius: 30px;
}

#contenitore-datibiglietto{
  display: flex;
  flex-direction: row;
  border: solid black 2px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

#col-nome{
  padding: 20px;
  background-color: grey;
  border-bottom-left-radius: 30px;
}

#nome-inserito{
  font-size: 25px;
  font-weight: bold;
}
#dati-biglietto{
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.col-dati{
  padding: 20px;

}
